<!-- DATA & EVENT BINDING -->

{{ name }}

<!-- DATA BINDING -->
<!---- {{ exxpression }} -->
<p>{{ user.name }}</p>
<p>{{ user.age }}</p>

<input type="text" [value]="user.name" />
<!-- HTMLInputElement {
  type: 'text'
  value: 'abc',
  attributes: [],
  ...
}
 -->

<!-- EVENT BINDING -->
<button type="button" (click)="handler($event)">Click me</button>
<br />
<br />
<!-- + cả 2 loại BINDING -->
<input type="text" [ngModel]="name" (ngModelChange)="name = $event" />
<br />
<br />
<input type="text" [(ngModel)]="name" />

<br />

----------------------------------------------------------------------

<!-- *NgIf -->
<hello [name]="user.name" *ngIf="user.age >= 18"></hello>

<div *ngIf="user.age < 18">ALO</div>

<button (click)="user.age = user.age - 1">-</button>
Age: {{ user.age }}
<button (click)="user.age = user.age + 1">+</button>

----------------------------------------------------------------------
